<%= tag.div class: "terminal full-width flex flex-column gap justify-end", data: {
      controller: "toggle-class commands",
      toggle_class_toggle_class: "terminal--open" } do %>
  <%= turbo_frame_tag :recent_commands, src: commands_path, refresh: "morph" %>

  <%= form_tag commands_path,
        class: "flex align-center gap-half",
        data: { controller: "form", action: "turbo:submit-end->form#reset" } do %>
    <label class="terminal__label txt-nowrap" for="fizzy_do">Fizzy do &gt;</label>

    <%= text_field_tag "command", nil,
          autocomplete: "off",
          autocorrect: "off",
          autocapitalize: "off",
          class: "terminal__input input fill-transparent unpad",
          data: {
            turbo_permanent: true,
            commands_target: "input",
            action: "keydown.up->toggle-class#add:prevent keydown.down->toggle-class#remove:prevent"
          },
          placeholder: "Search or type commands…" %>
  <% end %>
<% end %>

